@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.woff2") format("woff2");
}

body {
  background-color: black;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
}
.name {
  font-family: "Archivo Black";
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  max-width: 793px;
  margin: 89px 20px 0 120px;
}
.name span {
  display: block;
}
.career {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5);
  max-width: 790px;
  margin: 15px 23px 0 120px;
}
.description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  max-width: 793px;
  margin: 30px 20px 0px 120px;
}
.items {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 30px 0 0 120px;
  padding: 0;
}
.item_li {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  position: relative;
  padding-bottom: 10px;
}
.item_li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, #4c1a97 0%, #6d6dff 100%);
}
.profile_photo {
  width: 387px;
  height: 500px;
  top: 40px;
  object-fit: cover;
  margin: 40px 120px 0 0;
}
.titles {
  font-family: "Archivo Black";
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 110px auto 0;
  max-width: 603px;
}
.icons {
  display: flex;
  gap: 180px;
  margin: 50px 120px 0 120px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}
.project_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 120px 0 120px;
  gap: 20px;
}
.project_title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  max-width: 339px;
}

.project_card_links {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.project_card_links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.project_card_links .link {
  color: #6d6dff;
}

.project_card {
  background: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
}
.project_card_img {
  width: 100%;
  display: block;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.project_content {
  padding: 20px;
}
.project_img_container {
  position: relative;
}
.img_icon {
  position: absolute;
  max-width: 40px;
  max-height: 40px;
  margin-bottom: 10px;
  bottom: 15px;
  left: 15px;
}
.html_icon {
  left: 15px;
}

.css_icon {
  left: 75px;
}
.js_icon {
  left: 15px;
}

.react_icon {
  left: 75px;
}
.project_card_links a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer_icons ul {
  display: flex;
  justify-content: center;
  gap: 80px;
  list-style: none;
  padding: 0;
  margin: 32px 0 100px 0;
}

.titles.contact {
  text-align: center;
  margin: 100px auto 0;
}
.link_student {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #6d6dff;
  text-decoration: none;
}
.blur_circle {
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgba(109, 109, 255, 1);
  border-radius: 50%;
  filter: blur(200px);
  z-index: -1;
}
.circle_hero {
  top: 240px;
  right: 0;
}
.circle_contact {
  top: 1600px;
  left: 50%;
  transform: translateX(-50%);
}
a:hover {
  opacity: 0.7;
}

.project_card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}
.project_img_container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.3s;
}

.project_card:hover .project_img_container::before {
  opacity: 1;
}
/*Configuracion para pantallas de 768px*/
@media screen and (max-width: 768px) {
  .name {
    font-size: 58px;
    max-width: 434px;
    margin: 40px 38px 0 40px;
  }
  .career {
    line-height: 100%;
    max-width: 452px;
    margin: 14px 20px 0 40px;
  }
  .description {
    max-width: 452px;
    margin: 20px 20px 0px 40px;
  }
  .items {
    margin: 20px 0 0 40px;
  }
  .item_li {
    padding-bottom: 10px;
  }
  .profile_photo {
    width: 216px;
    height: 280px;
    margin: 40px 40px 0 0;
  }
  .titles {
    margin: 80px 125px 0 40px;
  }
  .icons {
    gap: 78px;
    margin: 40px 38px 0 40px;
  }
  .titles.projects {
    margin: 80px 241px 0 40px;
    max-width: 487px;
  }
  .project_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 40px 0 40px;
  }
  .circle_hero {
    top: 40px;
    left: 400px;
  }
  .circle_contact {
    top: 2000px;
    left: 50%;
    transform: translateX(-50%);
  }
  /*Configuracion para pantallas de 320px*/
  @media screen and (max-width: 320px) {
    .header {
      flex-direction: column;
    }
    .profile_photo {
      order: -1;
      width: 280px;
      height: 280px;
      margin: 20px 20px 0 20px;
    }
    .name {
      font-size: 36px;
      max-width: 280px;
      margin: 30px 20px 0 20px;
    }
    .career {
      font-size: 16px;
      max-width: 280px;
      margin: 10px 20px 0 20px;
    }
    .description {
      font-size: 16px;
      max-width: 280px;
      margin: 20px 20px 0px 20px;
    }
    .items {
      display: flex;
      flex-direction: column;
      margin: 35px 0 0 20px;
    }
    .item_li::after {
      width: 50%;
    }
    .titles {
      font-size: 28px;
      margin: 60px 20px 0 20px;
    }
    .icons {
      display: flex;
      flex-wrap: wrap;
      gap: 53px;
      margin: 30px 21px 0 20px;
    }
    .titles.projects {
      margin: 60px 20px 0 20px;
    }
    .project_grid {
      margin: 30px 20px 0 20px;
    }
    .circle_hero {
      top: 40px;
      left: 40px;
    }
    .circle_contact {
      top: 2300px;
      left: 50%;
    }
    .footer_icons ul {
      gap: 40px;
      margin: 52px 0 100px 0;
    }
    .img_icon img {
      width: 20px;
      height: 20px;
    }
    .html_icon {
      top: 130px;
      left: 10px;
    }

    .css_icon {
      top: 130px;
      left: 30px;
    }
    .js_icon {
      top: 130px;
      left: 10px;
    }

    .react_icon {
      top: 130px;
      left: 30px;
    }
    .project_card_img {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }
}
